<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" class="logo d-inline-block align-center" alt="TeamArrow">
  </a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbar-menu">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [collapse]="isCollapsed">

    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-home"></i>
        <span> Home</span>
      </a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
        <i class="fa fa-users"></i>
        <span> Our Team</span>
      </a>

      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
        <i class="fa fa-car"></i>
        <span> Our Cars</span>
      </a>

      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
        <i class="fa fa-flag-checkered"></i>
        <span> Our Races</span>
      </a>


    </div>

    <div class="navbar-nav ml-auto">
        <div dropdown class="nav-item" >
          <a id="user-button" dropdownToggle class="nav-link"  aria-controls="user-dropdown">
            <span>{{credentials.username}} </span>
            <i class="fa fa-caret-down"></i>
          </a>
          <ul id="user-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="user-button">
              <li role="menuitem"><h6 class="dropdown-header">
                <span>Logged in as </span><b>{{credentials.username}}</b></h6>
              </li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><button class="dropdown-item" (click)="logout()">Logout</button></li>
          </ul>
        </div>
      </div>

    <!-- <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home#our-team">Our Team</a>
      </li>
      <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Our Cars
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" href="/home#arrow-1">Arrow One</a>
            <a class="dropdown-item" href="/home#arrow-stf">Arrow STF</a>
          </div>
        </li>
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Our Races
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/home#wsc-2013">WSC 2013</a>
          <a class="dropdown-item" href="/home#wsc-2015">WSC 2015</a>
          <a class="dropdown-item" href="/home#wsc-2017">WSC 2017</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/home#adsc-2015">ADSC 2015</a>
        </div>
      </li>
    </ul>
    <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user-circle text-muted"></i><b>{{credentials.username}}</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <h6 class="dropdown-header">
                
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </div>
      </div> -->
  </div>
  
</nav>