.app-loading {
    .logo {
      width: 250px;
      height: 250px;
      
      // this way asset gets processed by webpack 
      background: url(./assets/logo.png) center center no-repeat; 
    }
}

