.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    // background-color: rgba(131, 131, 131, 0.3);
  }

.footer {
    .container {
      padding-right: 15px;
      padding-left: 15px;
      .text-muted {
        margin: 20px 0;
        // color: rgba(255,255,255,0.5);
      }
    }
}