<carousel [noPause]="noPause">
  <slide>
    <img id="home-banner-1" src="/assets/banner1.jpg" alt="first slide">
  </slide>
  <slide>
    <img id="home-banner-2" src="/assets/banner2.jpg" alt="second slide">
  </slide>
  <slide>
    <img id="home-banner-3" src="/assets/banner3.jpg" alt="third slide" >
  </slide>
  <slide>
    <img id="home-banner-4" src="/assets/banner4.jpg" alt="fourth slide">
  </slide>
</carousel>