carousel {
    slide {
        height: 400px;
        overflow: hidden;
        margin: 0;
        img {
            display: block;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            position:absolute;
        }

        #home-banner-1 {
            top:-70%;
        }
        #home-banner-2 {
            top:-130%;
        }
        #home-banner-3 {
            top:-150%;
        }
        #home-banner-4 {
            top:-90%;
        }
    }
}